.character-sheet {
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px;
    grid-template-rows: 1fr;

    section {
        background-color: rgba(255,255,255,0.2);
        display: block;
        margin-bottom: 20px;
        padding: 10px;

        header {
            font-size: 125%;
            border-bottom: 5px solid #282c34;
            margin: 0 -10px 10px -10px;
            padding: 0px 0 10px 0;
            text-align: center;
        }

        ul {
            display: inline-block;
            margin: 0;
            padding: 0 0 0 22px;
        }

        table {
            th, td {
                text-align: left;
            }
        }
    }

    .grid-left {
        grid-column: 2;
        grid-row: 1;
    }
    .grid-right {
        grid-column: 4;
        grid-row: 1;
    }
}