.modal {
    height: 100vh;
    left: 0vw;
    position: fixed;
    top: 0vh;
    width: 100vw;

    // top: 50vh; 
    // left: 50vw; 
    // transform: translate(-50%, -50%);
        
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-background {
        background-color: rgba(0,0,0,0.75);
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .modal-foreground {
        background-color: hsl(220deg 13% 28%);
        padding: 20px;
        position: relative;
        max-width: 80vw;
        max-height: 80vh;
        overflow: auto;
    }
    .modal-title {
        border-bottom: 1px solid black;
        font-size: 125%;
        margin-bottom: 10px;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -10px;
        padding-bottom: 10px;
        text-align: center;
    }


}

.modal {
    display: none;
    visibility: hidden;
}
.modal[is-shown="true"] {
    display: flex;
    visibility: visible;
}