.tooltip {
	position: relative;

	.tooltip-content {
		background: white;
		color: #666;
		display: none;
		padding: 5px;
		position: absolute;
		bottom: 100%;
		z-index: 30101;
		min-width: 10em;
	}
}

.tooltip:hover .tooltip-content {
	display: block;

}